.venv/
__pycache__/
*.pyc
config.yaml
*.log
game_live.log

# Mortal 非必要目录
Mortal/target/
Mortal/docs/
Mortal/log-viewer/
Mortal/.github/
Mortal/mortal/*.pth
Mortal/mortal/libriichi.so
Mortal/mortal/libriichi.pyd
Mortal/mortal/runs/
Mortal/mortal/test_play_logs/
Mortal/mortal/1v3_logs/
Mortal/mortal/file_index.pth
Mortal/mortal/grp_file_index.pth
Mortal/mortal/buffer/
Mortal/mortal/drain/

# Mortal 数据集（太大）
Mortal/mortal/data/raw/
Mortal/mortal/data/mjlog/
Mortal/mortal/data/mjai/

# 杂项
mortal_crash.log
match_log*.txt
lqc.lqbin
