.venv/
__pycache__/
*.pyc
config.yaml
*.log
game_live.log
match_log_*.txt

# Mortal 训练产物
mortal/*.pth
mortal/target/
mortal/runs/
mortal/test_play_logs/
mortal/1v3_logs/
mortal/file_index.pth
mortal/grp_file_index.pth
mortal/buffer/
mortal/drain/

# Mortal 数据集
mortal/data/raw/
mortal/data/mjlog/
mortal/data/mjai/

# Mortal 二进制
mortal/libriichi.so
mortal/libriichi.pyd

# 杂项
mortal_crash.log
match_log*.txt
lqc.lqbin
